asgiref==3.8.1
asttokens==2.4.1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
decorator==5.1.1
defusedxml==0.8.0rc2
Django==5.0.7
django-cors-headers==4.6.0
django-extensions==3.2.3
django-filter==24.3
django-templated-mail==1.1.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djoser==2.2.3
drf-yasg==1.21.7
executing==2.0.1
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
httplib2==0.22.0
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
ipython==8.26.0
jedi==0.19.1
matplotlib-inline==0.1.7
oauthlib==3.2.2
packaging==24.1
parso==0.8.4
pillow==10.4.0
pluggy==1.5.0
prompt_toolkit==3.0.47
psycopg2==2.9.9
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.9.0
pyparsing==3.2.1
pypdf==5.0.1
PyPDF2==3.0.1
pytesseract==0.3.13
pytest==8.3.3
pytest-django==4.9.0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
setuptools==75.1.0
six==1.16.0
sqlparse==0.5.1
stack-data==0.6.3
tabulate==0.9.0
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.3
wcwidth==0.2.13
whitenoise==6.9.0
